<!DOCTYPE html>
{% extends "summary.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
{% load cache %}
{% load table_filters %}

{% block adapt_block %}
  {% if adaptform %}
  <div class="container">
    <div class="row">
        <div class="col">
            <form method="POST", enctype="multipart/form-data">
                {% comment %} {{form.as_p}} {% endcomment %}
                {{ adaptform.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary", value="Commit" method="POST">
                {% comment %} <input type=" text" id="text-box" size="20" value="Hello world!" /> {% endcomment %}
            </form>
        </div>
    </div>
    </div>
    {% endif %} 
  {% endblock %}
 
{% block traintab_block %}
  <table name="traindata">
    <tr>
            <th>Date</th>
            <th>location</th>
            <th>Distance(m)</th>
            <th>vel avg(min/km)</th>
            <th>Hsl avg(bpm)</th>
            <th>training description</th>
        </tr>
        <p>{% cache 360 "training_data" %}
          {% for training in trainingen|dictsort:"startTime" %} 
            <tr value={{training.fname}}
            name="traindata" 
            id="traindata"
            {% if training.trainingtype.roadrace %}  
            class="roadrace"
            {% elif training.trainingtype.easyrun %}  
            class="easyrun"
            {% elif training.trainingtype.sprint %}  
            class="sprint"
            {% elif training.trainingtype.interval == "interval" %}
            class="interval"

            {% endif %}

            data-url="{% url 'test_polar:showform' training.fname %}">
            <td>{{training.startTime|slice:":10"|weekday}}
  
            </td> 
            
            {% if training.location != None %}
            <td id="location" onclick="showForm(this)">{{training.location|upper}}</td>
            {% else %}
            <td id="location" onclick="showForm(this)">not defined</td>
            {% endif %}
            <td>{{training.distance|floatformat:0}}</td>
            <td>{{training.speed.avg|kmh2minkm}}</td>
            <td>{{training.averageHeartRate|floatformat:0}} / {{training.maximumHeartRate|floatformat:0}}
            </td>
            {% comment %} <td id="tdescr" onclick="showLapdata(this)">{{training.trainingdescription.description|linebreaks}}</td> {% endcomment %}
            <td id="tdescr" onclick="showDelete(this)">{{training.trainingdescription.description|linebreaks}}</td>
        </tr>
        {% endfor %}
        {% endcache %}
    </p>
    <br><br>
    {% endblock %}
 
</html>    