<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href={% url "test_training2:testpage" %} class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href={% url "test_polar:showpolar" %} 
              class="nav-link">Summary</a></li> 
            <li class="nav-item"><a href="#" class="nav-link">Analyze</a></li>
            <li class="nav-item"><a href={% url "test_polar:actionadapt" %} class="nav-link">Adapt</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
      {% block adapt_block %}
      {% endblock %}

      {% block summary_block %}
      {% endblock %}
      {% block traintab_block %}
      {% endblock %}

</body>
</html>