<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load table_filters %}
{% block summary_block %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>summary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/test_polar.css" %}">
    
</head>

    <body>
        <script src={% static  "js/general.js" %}></script>
        <script src={% static  "js/summary.js" %}></script>
    
    <div id="lapdata"> 
        {% if lapdata %}
        <h3> {{ lapdate|slice:10 }}</h3>
        <table class="laptable" value={{fname}}>
            
            <th>Lapnr</th> 
            <th>Dur</th> 
            <th>Dist.</th> 
            <th>V avg</th> 
            <th>V avg,<br></br>corr</th> 
            <th>HR avg</th> 
            <th>HR max</th> 
        {% for lap in lapdata %}
            <tr><td>{{ forloop.counter }}</td>
                <td>{{lap.duration|duration2min }}</td>
                <td>{{lap.distance|floatformat:0}}</td> 
                <td>{{lap.speed.avg|kmh2minkm }}</td> 
                <td>{{lap.speed.avg_corr|kmh2minkm }}</td> 
                <td>{{lap.heartRate.avg|floatformat:0}}</td> 
                <td>{{lap.heartRate.max|floatformat:0}}</td> </tr>
        {% endfor %}
            {% endif %}
        </table>
        <div class="info">
        <br> number of run training in table: {{ trainingen|length }} </br>
        </div>
    <p>{{ ttypes }}</p>
    
        {% if ttypes %}
        <form id="trainingForm" action="/summary/" method="get">
            {% comment %} {% csrf_token %} {% endcomment %}
            <select id="trainingtype" name="ttypes" size="6" onclick="" >
            {% for type_name in ttypes %}
                <option value={{type_name}}>{{type_name}}</option>
            {% endfor %}
            
        </select>
        <input type="submit" id="to_addtt" value="to next page" onclick="toHeadofpage()"> </input>
    </form>
    {% endif %}
{% endblock %}

{% block traintab_block %}
<table name="traindata">
    <tr>
            <th>Date</th>
            <th>location</th>
            <th>Distance(m)</th>
            <th>vel avg(min/km)</th>
            <th>Hsl avg(bpm)</th>
            <th>training description</th>
        </tr>
        <p>{% cache 60 "training_data" %}
        <p>
            {% for training in trainingen|dictsort:"startTime" %} 
            <tr value={{training.fname}}  
            name="traindata" 
            id="traindata"
            {% if training.trainingtype.roadrace %}  
            class="roadrace"
            {% elif training.trainingtype.easyrun %}  
            class="easyrun"
            {% elif training.trainingtype.sprint %}  
            class="sprint"
            {% elif training.trainingtype.climax %}  
            class="climax"
            {% elif training.trainingtype.interval == "interval" %}
            class="interval"
            {% endif %}

            data-url="{% url 'test_polar:showlapdata' training.fname %}">
            <td>{{training.startTime|slice:":10"|weekday}}</td> 
            
            {% if training.location != None %}
            <td id="location">{{training.location|upper}}</td>
            {% else %}
            <td id="location">not defined</td>
            {% endif %}
            <td>{{training.distance|floatformat:0}}</td>
            <td>{{training.speed.avg| kmh2minkm}}</td>
            <td>{{training.averageHeartRate|floatformat:0}} / {{training.maximumHeartRate|floatformat:0}}
            </td>
            <td id="tdescr" 
            onclick="showLapdata(this)">{{training.trainingdescription.description|linebreaks}}</td>
        </tr>
        {% endfor %}
        {% endcache %}
        </p>
    <br><br>
    {% endblock %}
    
</body>
</html>